@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.bg-container {
  background: linear-gradient(150deg, #9c09db, #1c0fd7) !important;
  width: 100%;
  height: 25rem;
}

.form-card {
  height: 80rem;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
}

.question-number {
  font-size: 1.4rem;
  color: black;
  font-weight: 700;
}

.question {
  color: #212121;
  font-size: 1.3rem;
}

.required-star {
  color: #d32f2f;
}

/****************** Question 1 Start *****************/

div.stars {
  width: 15rem;
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 8px;
  font-size: 1.7rem;
  color: #444;
  transition: all 0.2s;
}

input.star:checked ~ label.star:before {
  content: "\f005";
  color: #fd4;
  transition: all 0.25s;
}

input.star-5:checked ~ label.star:before {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
  color: #f62;
}

label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  content: "\f006";
  font-family: FontAwesome;
}

/****************** Question 1 Ends *****************/

/****************** Question 2 Start *****************/

div.stars2 {
  width: 15rem;
  display: inline-block;
}

input.star2 {
  display: none;
}

label.star2 {
  float: right;
  padding: 8px;
  font-size: 1.7rem;
  color: #444;
  transition: all 0.2s;
}

input.star2:checked ~ label.star2:before {
  content: "\f005";
  color: #fd4;
  transition: all 0.25s;
}

input.star2-5:checked ~ label.star2:before {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

input.star2-1:checked ~ label.star2:before {
  color: #f62;
}

label.star2:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star2:before {
  content: "\f006";
  font-family: FontAwesome;
}

/****************** Question 2 Ends *****************/

/****************** Question 3 Start *****************/

div.stars3 {
  width: 15rem;
  display: inline-block;
}

input.star3 {
  display: none;
}

label.star3 {
  float: right;
  padding: 8px;
  font-size: 1.7rem;
  color: #444;
  transition: all 0.2s;
}

input.star3:checked ~ label.star3:before {
  content: "\f005";
  color: #fd4;
  transition: all 0.25s;
}

input.star3-5:checked ~ label.star3:before {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

input.star3-1:checked ~ label.star3:before {
  color: #f62;
}

label.star3:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star3:before {
  content: "\f006";
  font-family: FontAwesome;
}

/****************** Question 3 Ends *****************/

/****************** Question 4 Start *****************/

div.stars4 {
  width: 15rem;
  display: inline-block;
}

input.star4 {
  display: none;
}

label.star4 {
  float: right;
  padding: 8px;
  font-size: 1.7rem;
  color: #444;
  transition: all 0.2s;
}

input.star4:checked ~ label.star4:before {
  content: "\f005";
  color: #fd4;
  transition: all 0.25s;
}

input.star4-5:checked ~ label.star4:before {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

input.star4-1:checked ~ label.star4:before {
  color: #f62;
}

label.star4:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star4:before {
  content: "\f006";
  font-family: FontAwesome;
}

/****************** Question 4 Ends *****************/

/****************** Question 5 Starts *****************/

div.stars5 {
  width: 15rem;
  display: inline-block;
}

input.star5 {
  display: none;
}

label.star5 {
  float: right;
  padding: 8px;
  font-size: 1.7rem;
  color: #444;
  transition: all 0.2s;
}

input.star5:checked ~ label.star5:before {
  content: "\f005";
  color: #fd4;
  transition: all 0.25s;
}

input.star5-5:checked ~ label.star5:before {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

input.star5-1:checked ~ label.star5:before {
  color: #f62;
}

label.star5:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star5:before {
  content: "\f006";
  font-family: FontAwesome;
}

/****************** Question 5 Ends *****************/
